<ion-view view-title="Perfil">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!--<div class="hero slide-up" style="background-image: url('img/logo2.png');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>-->
        <div class="content">
                <ion-list>
                    <div class="item item-avatar">
                        <img ng-src="{{profileData.pic}}">
                        <h2 class="padding">{{user.nombre}}</h2>
                        <p class="padding">Usted no posee puntos</p>
                        <!--
                        <p>Se encuentra en:</p>
                        <p>Latitud {{lat}}</p>
                        <p>Longitud {{long}}</p>
                        -->
                    </div>
                </ion-list>
                </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Actividad Reciente
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Galer&iacute;a
            </a>
        </div>
        <div class="content">
            <div id="map" data-tap-disabled="true"></div>
        </div>
    </ion-content>
</ion-view>
